
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
/*   border: solid 1px red;  */
}

body {
  background: #afb9ff;
  margin: 0;
  overflow: hidden;
  height: 400px;
  weight: 100%;
}

.note {
  transform:scale(1);
  background: #35384f;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 300px;
  left: 80px;
  z-index:0;

}
.card{
  position:absolute;
  overflow:hidden;
  height:250px;
  width:450px;
  top:0px;
  left:25px;
  background: #35384f;
  padding: 80px 100px 80px 130px;
  color:#fff;
  font-family: 微軟正黑體;
  border-radius:5%;
  z-index: 1;
  transition: 0.5s;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.card hr {
  border-color: #5270a5;
  margin-top: -15px;
  margin-bottom: 20px;
}
.card h2 {
  font-size: 25px;
  line-height: 50px;
}
.card span {
  font-size: 18px;
}
.card h5 {
  font-size: 16px;
  font-weight: 400;
}

.card:hover{
  -webkit-animation:indexend 0s;
  transform: translate(0px,-200px);
}

@keyframes move{
  0%{
    top:0px;
  }
  15%{
    top:-30px;
  }
  20%{
    top:-10px;
  }
  25%{
    top:-50px;
    	
  }
  30%{
    top:30px;
  }
  40%{
    top:0px;
  }
}
.note_i {
  overflow: hidden;
  height: 300px;
  width: 500px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.c1{
  position:absolute;
  background:#fffac4;
  width:450px;
  height:30px;
  top:15px;
  left:-50px;
}
.c2{
  position:absolute;
  background:#fffac4;
  width:450px;
  height:30px;
  top:200px;
  left:300px;
 
}
.n1 {
  position: absolute;
  top: -50px;
  left: 300px;
  border-style: solid;
  border-width: 0px 150px 300px 150px;
  border-color: transparent transparent #bec2e8 transparent;
  transform: rotate(30deg);
  z-index:3;
}
.n2 {
  position: absolute;
  top: -50px;
  left: -100px;
  border-style: solid;
  border-width: 0px 150px 300px 150px;
  border-color: transparent transparent #bec2e8 transparent;
  transform: rotate(-30deg);
  z-index:3;
}

.n3 {
  position: absolute;
  color:#fff;
  top: 100px;
  left: -50px;
  border-style: solid;
  border-width: 0 300px 200px 300px;
  border-color: transparent transparent #d7daf2 transparent;
  z-index:3;
  font-family: 'Righteous', cursive;
  

}
.n3 h3{
  position:absolute;
  color:#343d96;
  margin-left: -100px;
  margin-top: 80px;
  font-size: 50px;
  width: 100px;
  line-height: 60px;
}

.note_o {
  position: absolute;
  top: -230px;
  left: 0px;
  border-style: solid;
  border-width: 0 250px 200px 250px;
  border-color: transparent transparent #ced1ef transparent;
  z-index: -1;
}

.note_o1 {
  position: absolute;
  top:200px;
  left:-250px;
  background:#ced1ef;
  height:60px;
  width:500px;
  z-index: -1;
}
.wl{
  position:absolute;
  right: -140px;
  transition: 0.5s;
}
.left{
  position:absolute;
  width:500px;
  height:800px;
  background:#fffbdb;
  right:-1000px;
  top:-400px;
  z-index:-5;
  
}

.white{
  position:absolute;
  width:50px;
  height:5px;
  background:#fff;
  top:-280px;
  right:-450px;

}
.white:before{
  content:'';
  position:absolute;
  width:50px;
  height:5px;
  background:#fff;
  top:10px;
  right:0px;
}

.white:after{
  content:'';
  position:absolute;
  width:50px;
  height:5px;
  background:#fff;
  top:20px;
  right:0px;
}

.wl:hover{
  transform: translate(-150px,0px);
}

.table{
  position:absolute;
  width:2000px;
  height:350px;
  background:#35384f;
  top: 100px;
  left:-550px;
  z-index:-5;
}
